@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body, .page{
    min-height: 100vh;
}

body{
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
}

/*HEADER*/
.page-header{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #3BB873;
}

.logo-container{
    padding: 10px;
    height: 30px;
    width: 30%;
    flex: 1 1 auto;
}

.logo-image{
    height: 100%;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}

.top-navigation-bar{
    overflow: hidden;
}

.top-navigation-bar a{
    float: left;
    display: block;
    text-align: center;
    vertical-align: center;
    color: #283739;
    padding: 17px 25px 17px 25px;
    text-decoration: none;
    font-size: 15px;
}

.top-navigation-bar a:hover{
    background-color: #ddd;
    color: black;
}

/*FOOTER*/

.page-footer{
    flex: 0 0 auto;
    background-color: #3BB873;
}

.footer-text{
    margin: 20px;
    color: #283739
}

/*CONTENT*/

.page-content{
    flex: 1 1 auto;
    position: relative;
    background-color: #DDDDDD;
}

.page-content._commit-page {
    display: flex;
}

.page-content._commit-page .commit-text-container {
    align-self: stretch;
}

/*LOGIN
REGISTRATION*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form textarea{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .login{
    color: #000000;
    font-size: 17px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

/*EDIT*/

.commit-text-container{
    width: 60%;
    margin: 10px auto;
    background: #fff;
    padding: 10px 20px;
}

.comparer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.plain-text-container {
    flex-grow: 1;
    margin: 10px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.plain-text-container h1 {
    padding: 0;
    margin: 0 0 0;
    font-weight: 600;
    font-size: 16px;
}

.plain-text-container p {
    background: #fff;
    flex-grow: 1;
    padding: 10px 20px;
    margin: 0;
}

.table-header{
    padding: 0 0 0 20px;
}

.table-default {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-sizing: border-box;
    padding:  0 20px;
}

.table-default__row {
    display: table-row;
    width: 100%;
    background: #fff;
    cursor: pointer;
}

.table-default__row:hover {
    background: #f1f1f1;
}

.table-default__row._head {
    background: #f1f1f1;
    color: #777;
}

.table-default__col {
    border-bottom: 1px solid #ccc;
    display: table-cell;
    padding: 5px 10px;
}

.table-default__row:last-child .table-default__col {
    border-bottom: 0;
}

.select-container{
    margin: 20px;
}

.select-container select{
    height: 30px;
    min-width: 100px;
}

.none{

}

.remove{
    background-color: #eb5b5b;
}

.add{
    background-color: #64e344;
}

.compare_button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}